<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dataprop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mr-5">
      <% if current_user.present? %>
        <li class="nav-item">
          <%= link_to 'Cerrar sesión', destroy_user_session_path, class: 'nav-link btn btn-outline-dark text-info' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to 'Crear cuenta', new_user_registration_path, class: 'nav-link mr-3' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Ingresar', new_user_session_path, class: 'nav-link btn btn-outline-dark text-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>