<div class="form-row">
    
    <div class="form-group col-md-12">
        <label>Nombre completo</label>
        <%= f.text_field :name, class: 'form-control'%>    </div>
    <div class="form-group col-md-12">
        <label>Telefono</label>
        <%= f.text_field :phone, class: 'form-control'%>    </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label >Correo electrónico</label>
            <%= f.text_field :email, class: 'form-control'%>    
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label >Observaciones</label>
            <%= f.text_area :note, class: 'form-control'%>    
        </div>
    </div>
</div>